[run]

source = .

omit =
    */.venv/*
    */__init__.py
    */settings.py
    */wsgi.py
    */manage.py
    */asgi.py
    */urls.py
    */base/admin.py
    */base/apps.py
    */base/models.py
    */core/admin.py
    */core/apps.py
    */migrations/*
    */tests/*