[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-stdimage = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
coverage = "*"
model-mommy = "*"
requests = "*"
collectfast = "*"
sentry-sdk = "*"
model-bakery = "*"

[requires]
python_version = "3.8"
