{% load static %}
{% load i18n %}
<!-- About Section start -->
    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">{% trans 'Gerencie suas estatísticas' %}</p>
                  <h2 class="section-title">{% trans 'Estatísticas detalhadas da sua empresa' %}</h2>
                </div>
                <div class="content">
                  <p>{% trans 'Com a Fusion, você tem informações detalhadas sobre os gastos com anúncios em cada país. Além disso, o portal do site oferece um resumo dos dados mais valiosos, fazendo com que ele seja uma das melhores fontes de estatísticas disponíveis no mercado. Além disso, a Fusion disponibiliza relatórios sobre o futuro do marketing digital em diversos países, como Reino Unido e demais nações europeias, além de EUA e Brasil. Normalmente, as informações são atualizadas anualmente' %}</p>
                  <a href="{% url 'index' %}" class="btn btn-common mt-3">{% trans 'Saiba mais' %}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>
    <!-- About Section End -->